<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day08-code/src/cn/itcast/day08/demo02/Demo01FileReader.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.itcast.day08.demo02.Demo01FileReader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day08-code"/>
</launchConfiguration>
